@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sedgwick+Ave+Display&display=swap');

:root {
    --mainColor: #f2bb2a;
    --secundaryColor: #6e6f6d;
    --blackColor: #000;
    --whiteColor: #fff;
    --redColor: #ee2f32;
    --greenColor: #077023;
    --textColor: #696969;
    --darkColor: #0c0c0c;
    --grisClaro: #f5f5f5;
    --grisOscuro: #1b1b1b;
    --grisMedio: #333;
    --fontUrban: 'Sedgwick Ave Display', cursive;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Raleway', sans-serif;
    background-color: var(--blackColor);
}
body::-webkit-scrollbar {
    width: 7px;
    background-color: var(--blackColor);
}
body::-webkit-scrollbar-thumb{
    width: 7px;
    background-color: var(--mainColor);
    border-radius: 10px;
}
body p, h1, h2, h3, h4, h5, h6 {
    margin-bottom: 0;
}
body button, input, textarea {
    box-shadow: none;
    outline: none!important;
}
body a {
    text-decoration: none
}

/* ------Header------ */
.header {
    width: 100%;
    background-color: var(--blackColor);
    position: fixed;
    top: 0;
    z-index: 99;
    border-top: 3px solid var(--redColor);
}
.header .content-header {
    width: 100%;
    max-width: 1500px;
    margin: auto;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.content-header .left-header {
    display: flex;
    gap: 20px;
}
    .left-header .logo-header {
        display: flex;
        align-items: center;
    }
    .left-header .logo-header .logo-fme img {
        width: 100px;
    }
    .left-header .prod-header {
        display: flex;
        align-items: center;
        background-color: var(--grisOscuro);
        border-radius: 15px;
        margin-left: 100px;
    }
    .left-header .prod-header .link-tab {
        font-size: 13px;
        font-weight: 600;
        padding: 10px 10px;
        display: flex;
        align-items: center;
        gap: 10px;
        color: var(--textColor);
        border-radius: 15px;
        transition: all 0.3s ease-in-out;
    }
    .left-header .prod-header .link-tab:hover {
        background-color: var(--grisMedio);
    }
    .left-header .prod-header .link-tab-active {
        background-color: var(--secundaryColor);
        color: var(--whiteColor);
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }
    .left-header .prod-header .link-tab img {
        width: 15px;
    }
    .left-header .search-header {
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }
    .left-header .search-header input[type="search"] {
        width: 300px;
        position: relative;
        font-size: 13px;
        padding: 10px 35px 10px 15px;
        border-radius: 20px;
        border: none;
        background-color: var(--grisOscuro);
        color: var(--whiteColor);
    }
    .left-header .search-header i {
        position: absolute;
        margin-right: 15px;
        font-size: 15px;
        color: var(--textColor);
    }
.content-header .right-header {
    display: flex;
    align-items: center;
    gap: 15px;
}
    .right-header .social-header {
        display: flex;
        align-items: center;
        gap: 10px;
    }
    .right-header .social-header .red-social {
        font-size: 20px;
        color: var(--whiteColor);
        transition: all 0.3s ease-in-out;
    }
    .right-header .social-header .red-social:hover {
        color: var(--mainColor);
    }
    .right-header .alert-not {
        display: flex;
    }
    .right-header .alert-not .notification {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--grisOscuro);
        color: var(--mainColor);
    }
    .alert-not .drop-menu {
        background-color: var(--grisMedio);
        border-radius: 10px;
        padding: 10px;
    }
    .alert-not .drop-menu .item-not {
        display: flex;
        align-items: center;
        gap: 20px;
        border-radius: 10px;
        padding: 10px;
        border: 2px solid var(--mainColor);
        margin-bottom: 10px;
    }
    .alert-not .drop-menu .item-not:hover {
        background-color: var(--grisOscuro);
    }
    .alert-not .drop-menu .item-not img {
        width: 50px;
    }
    .alert-not .drop-menu .item-not .title-not {
        font-size: 15px;
        font-weight: 600;
        color: var(--whiteColor);
    }
    .alert-not .drop-menu .item-not .title-not span {
        font-size: 13px;
        font-weight: 400;
        color: #acacac;
    }
    .right-header .drop-profile .btn-drop {
        display: flex;
        align-items: center;
        gap: 10px;
        color: var(--whiteColor);
        font-size: 15px;
        font-weight: 600;
    }
    .right-header .drop-profile .btn-drop img {
        width: 30px;
        height: 30px;
        object-fit: cover;
        border-radius: 50%;
    }
    .right-header .drop-profile .drop-pro {
        background-color: var(--grisMedio);
        padding: 0;
        overflow: hidden;
    }
    .right-header .drop-profile .drop-pro .drop-item {
        font-size: 15px;
        font-weight: 600;
        padding: 10px 15px;
        color: var(--whiteColor);
        transition: all 0.3s ease-in-out;
        border-bottom: 1px solid var(--grisOscuro);
    }
    .right-header .drop-profile .drop-pro .drop-item i {
        margin-right: 10px;
    }
    .right-header .drop-profile .drop-pro .drop-item:hover {
        background-color: var(--mainColor);
        color: var(--blackColor);
    }
    .right-header .canvas {
        display: flex;
    }
    .right-header .canvas .menu-mob {
        font-size: 20px;
        color: var(--whiteColor);
    }

/* ------Cover----- */
.back-cover {
    width: 100%;
    background-image: url(../img/grafitti.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.cover {
    width: 100%;
    background-color: #000000f5;
}
.cover .content-cover {
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.content-cover .sidebar-left {
    background-color: var(--grisOscuro);
}
.sidebar-left .content-sidebar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px 15px 25px 15px;
    position: sticky;
    top: 0px;
}  
    .content-sidebar .top-sid {
        text-align: center;
        margin-bottom: 20px;
    }
    .content-sidebar .top-sid .fav {
        font-size: 30px;
        color: var(--whiteColor);
        display: flex;
        align-items: flex-start;
        justify-content: flex-end;
        margin-bottom: 5px;
    }
    .content-sidebar .top-sid .fav img {
        width: 40px;
        position: relative;
    }
    .content-sidebar .top-sid .fav .badge {
        background-color: var(--blackColor);
        font-size: 12px;
        margin-top: -10px;
        border-radius: 50%;
        position: absolute;
    }
    .content-sidebar .top-sid p {
        font-size: 12px;
        color: var(--whiteColor);
    }
    .content-sidebar .navigator {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 20px;
    }
    .content-sidebar .navigator .link-navi {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: 10px;
        font-size: 12px;
        color: var(--whiteColor);
        padding-top: 20px;
        border-top: 1px solid var(--secundaryColor);
        text-align: center;
    }
    .content-sidebar .navigator .link-navi img {
        width: 40px;
    }
.content-cover .content-body {
    width: 100%;
    max-width: 900px;
    display: flex;
    flex-direction: column;
    padding: 120px 50px 50px 50px;
}
.content-body .top-body {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}
    .top-body .text-top {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 15px;
    }
    .top-body .text-top .title-top {
        font-size: 45px;
        font-weight: 700;
        color: var(--whiteColor);
    }
    .top-body .text-top p {
        font-size: 20px;
        color: var(--whiteColor);
    }
    .top-body .text-top .btn-top {
        font-size: 20px;
        font-weight: 700;
        color: var(--blackColor);
        background-color: var(--mainColor);
        border-radius: 20px;
        padding: 5px 30px;
        display: flex;
        align-items: center;
        gap: 10px;
        transition: all 0.3s ease-in-out;
    }
    .top-body .text-top .btn-top:hover {
        background-color: var(--grisMedio);
        color: var(--whiteColor);
    }
    .top-body .img-top img {
        width: 160px;
    }
.content-body .row-box {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
    margin-bottom: 40px;
}
    .content-body .row-box-2 {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 27px;
    }
    .row-box .item-box {
        display: flex;
        justify-content: space-between;
        border-radius: 20px;
        background-color: var(--grisOscuro);
    }
    .row-box .item-box-min {
        display: flex;
        justify-content: flex-start;
        gap: 0px;
    }
    .row-box .item-box .text-box {
        width: 100%;
        max-width: 300px;
        padding: 20px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .row-box .item-box .text-box-min {
        padding-left: 0;
        gap: 10px;
    }
    .row-box .item-box .text-box .title-box {
        font-size: 20px;
        font-weight: 700;
        color: var(--whiteColor);
        margin-bottom: 10px;
    }
    .row-box .item-box .text-box .title-box-min {
        font-size: 13px;
        margin-bottom: 0px;
    }
    .row-box .item-box .text-box p {
        font-size: 15px;
        color: var(--whiteColor);
    }
    .row-box .item-box .text-box .btn-prod {
        margin-top: auto;
        font-size: 13px;
        font-weight: 700;
        background-color: var(--mainColor);
        color: var(--blackColor);
        padding: 5px 20px;
        border-radius: 20px;
        transition: all 0.3s ease-in-out; 
    }
    .row-box .item-box .text-box .menor {
        font-size: 12px;
    }
    .row-box .item-box .text-box .btn-prod:hover {
        background-color: var(--grisMedio);
        color: var(--whiteColor);
    }
    .row-box .item-box .img-box img  {
        width: 200px;
        margin-top: -20px;
        margin-bottom: -20px;
    }
    .row-box .item-box .img-box img  {
        width: 200px;
        margin-top: -20px;
        margin-bottom: -20px;
    }
    .row-box .item-box .img-box .prendas {
        width: 60px;
        margin: 20px;
    }
.content-body .carousel-prod {
    width: 100%;
}
.content-body .carousel-prod .title-carousel {
    font-size: 20px;
    font-weight: 700;
    color: var(--whiteColor);
}
.content-body .carousel-prod .title-carousel img {
    width: 30px;
    margin-right: 10px;
}
.owl-prod .card-prod {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-radius: 10px;
    background-color: var(--grisOscuro);
    gap: 15px;
    margin-top: 30px;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}
.owl-prod .card-prod:hover {
    transform: scale(1.05);
    z-index: 99;
    background-color: var(--grisMedio);
}
.owl-prod .card-prod:hover .text-card .link-card {
    color: var(--whiteColor);
}
.owl-prod .card-prod-yellow {
    background-color: var(--mainColor);
}
.owl-prod .owl-dot {
    display: none;
}
    .card-prod .img-card {
        width: 100%;
        height: 150px;
        display: flex;
        position: relative;
        overflow: hidden;
        border-radius: 7px;
    }
    .card-prod .img-card img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: relative;
    }
    .card-prod .img-card .dcto {
        width: 30px;
        position: absolute;
    }
    .card-prod .text-card {
        width: 100%;
        display: flex;
        align-items: flex-start;
    }
    .card-prod .text-card .link-card {
        display: flex;
        align-items: center;
        gap: 10px;
        font-size: 15px;
        font-weight: 600;
        color: var(--whiteColor);
        transition: all 0.3s ease-in-out;
    }
    .card-prod .text-card .link-black {
        color: var(--blackColor);
    }
.owl-prod .owl-nav.disabled {
    display: inline-flex;
}
.owl-prod .owl-prev,
.owl-prod .owl-next {
    background-color: transparent !important;
    position: absolute;
    top: 120px;
    transition: 0.3s;
}
.owl-prod .owl-next {
    right: -35px;
}
.owl-prod .owl-prev {
    left: -35px;
}
.owl-prod .owl-prev span,
.owl-prod .owl-next span {
    font-size: 30px;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--color_5);
    color: var(--colorWhite) !important;
    background-color: var(--mainColor) !important;
    border-radius: 50%;
    transition: all 0.3s ease-in-out;
    padding-bottom: 5px;
}
.owl-prod .owl-prev span:hover,
.owl-prod .owl-next span:hover {
    background-color: var(--secundaryColor) !important;
    color: var(--whiteColor) !important;
}
.content-cover .sidebar-right {
    padding: 20px 20px 20px 0px;
}
    .sidebar-right .content-right {
        padding: 20px;
        background-color: var(--grisOscuro);
        display: flex;
        flex-direction: column;
        gap: 10px;
        border-radius: 20px;
        position: sticky;
        top: 90px;
        margin-top: 70px;
    }
    .content-right .head-right {
        width: 100%;
        margin-bottom: 40px;
    }
    .content-right .head-right h2 {
        font-size: 25px;
        font-weight: 700;
        color: var(--whiteColor);
        display: flex;
        align-items: center;
        gap: 15px;
    }
    .content-right .head-right h2 img {
        width: 35px;
    }
    .content-right .scroll-events {
        width: 100%;
        height: 380px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        overflow-y: scroll;
        padding-right: 10px;
    }
    .content-right .scroll-events::-webkit-scrollbar {
        width: 7px;
        height: 100%;
        background-color: var(--blackColor);
        border-radius: 15px;
        padding: 2px;
    }
    .content-right .scroll-events::-webkit-scrollbar-thumb {
        width: 5px;
        background-color: #fff;
        border-radius: 10px;
    }
    .scroll-events .item-right {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
        background-color: var(--grisMedio);
        padding: 10px;
        border-radius: 10px;
        transition: all 0.3s ease-in-out;
        margin-right: 10px;
    }
    .scroll-events .item-right:hover {
        background-color: var(--grisMedio);
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }
    .scroll-events .item-major {
        background-color: var(--mainColor);
    }
    .scroll-events .item-major:hover {
        background-color: var(--grisMedio);
    }
        .item-right .img-item {
            width: 65px;
            height: 65px;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #000;
            padding: 10px;
        }
        .item-right .img-sale {
            background-color: var(--greenColor);
        }
        .item-right .img-item img {
            width: 100%;
        }
        .item-right .text-item {
            width: 100%;
            max-width: 65%;
            display: flex;
            flex-direction: column;
            gap: 10px;
        }
        .item-right .text-item .title-major {
            color: var(--blackColor);
        }
        .item-right .text-item h3 {
            font-size: 15px;
            font-weight: 700;
            color: var(--whiteColor);
        }
        .item-right .text-item .p-major {
            color: var(--blackColor);
        }
        .item-right .text-item p {
            font-size: 13px;
            color: var(--textColor);
        }
/* ------Offcanvas-bottom----- */
.offcanvas.offcanvas-bottom {
    height: auto;
}
.offcanvas-prod {
    background-color: var(--blackColor);
    z-index: 999999;
}
.head-dcto {
    display: flex;
    justify-content: center;
}
.head-dcto .btn-close {
    background-color: var(--mainColor);
    border-radius: 50%;
    opacity: 1;
}
.body-dcto {
    width: 100%;
    max-width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 0;
    margin-bottom: 20px;
    padding-right: 20px;
}
.body-dcto::-webkit-scrollbar {
    width: 7px;
    background-color: var(--mainColor);
    border-radius: 20px;
}
.body-dcto::-webkit-scrollbar-thumb {
    background-color: var(--whiteColor);
    border-radius: 20px;
}
.body-dcto .prod-dcto {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    border-radius: 10px;
    border: 2px solid var(--mainColor);
}
.body-dcto .prod-dcto-pers {
    display: grid;
    grid-template-columns: 1fr 1.5fr 1fr;
    align-items: center;
    border-radius: 10px;
    border: 2px solid var(--mainColor);
}
    .prod-dcto .img-dcto {
        width: 100%;
        height: 350px;
        display: flex;
        overflow: hidden;
        border-radius: 10px 0px 0px 10px;
    }
    .prod-dcto .img-dcto img {
        width: 450px;
        height: 100%;
        object-fit: cover;
    }
    .prod-dcto .text-dcto {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
        padding: 20px 50px;
    }
    .prod-dcto .text-dcto h2 {
        font-size: 35px;
        font-weight: 700;
        color: var(--whiteColor);
    }
    .prod-dcto .text-dcto h3 {
        font-size: 20px;
        font-weight: 700;
        color: var(--whiteColor);
    }
    .prod-dcto .text-dcto h3 span {
        font-size: 15px;
        color: var(--textColor);
        text-decoration: line-through;
    }
    .prod-dcto .text-dcto .cant {
        font-size: 20px;
        font-weight: 700;
        color: var(--whiteColor);
    }
    .prod-dcto .text-dcto .cant input[type="number"] {
        background-color: var(--grisMedio);
        border: none;
        border-radius: 10px;
        color: var(--whiteColor);
        padding: 5px 0px 5px 20px;
        margin-left: 10px;
    }
    .prod-dcto .text-dcto h4 {
        font-size: 30px;
        font-weight: 700;
        color: var(--whiteColor);
    }
    .prod-dcto .text-dcto h4 span {
        color: var(--greenColor);
    }
    .prod-dcto .text-dcto h5 {
        font-size: 20px;
        font-weight: 700;
        color: var(--whiteColor);
    }
    .prod-dcto .text-dcto h5 span {
        font-size: 14px;
        font-weight: 400;
    }
    .prod-dcto .text-dcto .bot-dcto {
        display: flex;
        align-items: center;
        gap: 20px;
    }
    .prod-dcto .text-dcto .btn-shop {
        font-size: 15px;
        font-weight: 700;
        background-color: var(--mainColor);
        color: var(--blackColor);
        padding: 5px 30px;
        border-radius: 50px;
        transition: all 0.3s ease-in-out;
    }
    .prod-dcto .text-dcto .btn-shop:hover {
        background-color: var(--grisMedio);
        color: var(--whiteColor);
    }
    .prod-dcto .text-dcto .btn-shop i {
        margin-left: 10px;
    }
    .prod-dcto .back-pers {
        width: 100%;
        height: 100%;
        padding: 20px;
        background-color: var(--mainColor);
        border-radius: 0px 7px 7px 0px;
    }
    .prod-dcto .back-pers h2 {
        font-size: 25px;
        font-weight: 700;
        color: var(--blackColor);
        margin-bottom: 20px;
    }
    .prod-dcto .back-pers h2 img {
        width: 30px;
        margin-right: 5px;
    }
    .prod-dcto .back-pers h2 span {
        font-size: 17px;
        font-weight: 600;
        margin-left: 10px;
    }
    .prod-dcto .back-pers .vid-sm {
        width: 100%;
        height: 250px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        border-radius: 10px;
        overflow: hidden;
    }
    .prod-dcto .back-pers .vid-sm .vid-corto {
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: relative;
    }
    .prod-dcto .back-pers .vid-sm .btn-pers {
        font-size: 14px;
        font-weight: 700;
        padding: 5px 15px;
        border-radius: 50px;
        background-color: var(--blackColor);
        color: var(--whiteColor);
        position: absolute;
        transition: all 0.3s ease-in-out;
    }
    .prod-dcto .back-pers .vid-sm .btn-pers i {
        font-size: 10px;
        margin-left: 10px;
    }
    .prod-dcto .back-pers .vid-sm .btn-pers:hover {
        background-color: var(--grisMedio);
        color: var(--whiteColor);
    }
.body-dcto .head-comb {
    margin-bottom: 10px;
}
.body-dcto .head-comb h3 {
    font-size: 25px;
    font-weight: 700;
    color: var(--whiteColor);
}
.body-dcto .head-comb h3 img {
    width: 40px;
    margin-right: 10px;
}
.body-dcto .content-comb {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 30px;
}

/* --------Modal-camisetas-------- */
.modal-camisetas {
    max-width: 95%;
}
.contenido-modal {
    background-color: var(--grisOscuro);
}
.contenido-modal .modal-header {
    border-bottom: 0;

}
.contenido-modal .modal-header .btn-close {
    background-color: var(--mainColor);
    opacity: 1;
    margin: auto;
    position: fixed;
    z-index: 99;
    right: 0;
    left: 0;
    top: 40px;
    border-radius: 50%;
}
.body-cam {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.body-ev {
    padding: 0;
    background-color: var(--grisOscuro);
}
.row-cam {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 100px;
}
.row-fme {
    display: grid;
    grid-template-columns: 1fr;
}
.row-cam .col-cam {
    width: 100%;
}
.row-cam .col-cam .title-cam {
    font-size: 30px;
    font-weight: 700;
    color: var(--whiteColor);
    margin-bottom: 40px;
}
.row-cam .col-cam .title-cam img {
    width: 40px;
    margin-right: 20px;
}
.row-two {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}
.row-three {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; 
    gap: 20px;
}
    .item-cam {
        width: 100%;
        border-radius: 10px;
        overflow: hidden;
        transition: all 0.5s ease-in-out;
    }
    .prem {
        border: 4px solid var(--mainColor);
    }
    .item-cam:hover .img-cam img{
        transform: scale(1.1);
    }
    .item-cam:hover .abs-cam {
        opacity: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 15px;
    }
    .item-cam .img-cam {
        width: 100%;
        display: flex;
        overflow: hidden;
        position: relative;
    }
    .item-cam .img-cam img {
        width: 100%;
        display: flex;
        position: relative;
        transition: all 0.5s ease-in-out;
    }
    .item-cam .abs-cam {
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.445);
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 200px;
        opacity: 0;
        transition: all 0.3s ease-in-out;
    }
    .item-cam .abs-cam .btn-carrito {
        font-size: 13px;
        font-weight: 600;
        padding: 5px 15px;
        border-radius: 50px;
        background-color: var(--blackColor);
        color: var(--whiteColor);
        display: flex;
        align-items: center;
        gap: 10px;
        transition: all 0.3s ease-in-out;
    }
    .item-cam .abs-cam .btn-carrito:hover {
        background-color: var(--secundaryColor);
    }
    .item-cam .abs-cam .btn-view {
        font-size: 13px;
        font-weight: 600;
        padding: 5px 15px;
        border-radius: 50px;
        background-color: var(--mainColor);
        color: var(--blackColor);
        display: flex;
        align-items: center;
        gap: 10px;
        transition: all 0.3s ease-in-out;
    }
    .item-cam .abs-cam .btn-view:hover {
        gap: 15px;
    }
.body-cam .head-ev {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    position: relative;
    overflow: hidden;
    border-radius: 10px 10px 0px 0px;
}
    .head-ev img {
        width: 100%;
        height: 350px;
        object-fit: cover;
        position: relative;
    }
    .head-ev .btn-close {
        background-color: var(--mainColor);
        border-radius: 50%;
        opacity: 1;
        position: absolute;
        margin-right: 10px;
        margin-top: 10px;
    }
.body-cam .row-online {
    width: 100%;
    padding: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
}  
    .row-online .card-ev {
        width: 100%;
        overflow: hidden;
        border-radius: 10px;
        background-color: var(--grisMedio);
    }
    .row-online .card-ev {
        width: 100%;
        overflow: hidden;
        border-radius: 10px;
        display: grid;
        grid-template-columns: 1fr 2fr;
    }
    .row-online .card-ev .img-ev {
        width: 100%;
        height: 220px;
        background-color: var(--whiteColor);
        overflow: hidden;
    }
    .row-online .card-ev .img-ev img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: flex;
    }
    .row-online .card-ev .text-ev {
        padding: 20px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
    }
    .row-online .card-ev .text-ev .tag {
        font-size: 12px;
        font-weight: 700;
        padding: 3px 10px;
        border-radius: 20px;
        background-color: var(--mainColor);
        color: var(--blackColor);
    }
    .row-online .card-ev .text-ev .title-ev {
        font-size: 20px;
        font-weight: 700;
        color: var(--whiteColor);
    }
    .row-online .card-ev .text-ev p {
        font-size: 14px;
        color: var(--whiteColor);
    }
    .row-online .card-ev .text-ev .date-ev {
        font-size: 15px;
        color: #b3b3b3;
    }
    .row-online .card-ev .text-ev .date-ev i {
        color: var(--mainColor);
        margin-right: 5px;
    }
    
/* -----offcanvas-right-------- */
.off-mob {
    background-color: var(--grisOscuro);
}
.head-prof {
    display: flex;
    align-items: center;
    gap: 20px;
}
.head-prof img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}
.head-prof .name-prof {
    font-size: 20px;
    font-weight: 600;
    color: var(--whiteColor);
}
.head-prof .name-prof span {
    color: var(--mainColor);
}
.offcanvas-header .btn-mob {
    background-color: var(--mainColor);
    border-radius: 50%;
    opacity: 1;
}
.navi-mob {
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.navi-mob .item-navi {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.navi-mob .item-navi .title-mob {
    font-size: 25px;
    font-weight: 700;
    color: var(--whiteColor);
    margin-bottom: 10px;
}
.navi-mob .item-navi .title-mob img {
    width: 30px;
    object-fit: contain;
    margin-right: 20px;
}
.navi-mob .item-navi .link-navi {
    font-size: 17px;
    font-weight: 600;
    color: var(--whiteColor);
    border-bottom: 1px solid var(--grisMedio);
    padding-bottom: 5px;
    transition: all 0.3s ease-in-out;
    margin-left: 20px;
}
.navi-mob .item-navi .link-navi:hover {
    color: var(--mainColor);
    padding-left: 10px;
}
.navi-mob .item-navi .link-navi:last-child {
    border-bottom: 0;
}
/* -----Off-cart----- */
.off-cart {
    background-color: var(--grisOscuro);
}
.title-cart {
    font-size: 25px;
    font-weight: 600;
    color: var(--whiteColor);
}
.title-cart i {
    color: var(--mainColor);
    margin-right: 10px;
}
.head-cart .btn-close {
    background-color: var(--mainColor);
    opacity: 1;
    border-radius: 50%;
}

/* -----Offcanvas-left---- */
.products-cart {
    display: flex;
    flex-direction: column;
}
.products-cart .prod-item {
    display: flex;
    align-items: center;
    gap: 20px;
}
.products-cart .prod-item img {
    width: 80px;
    border: 2px solid var(--mainColor);
    border-radius: 10px;
}
.products-cart .prod-item .text-item {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.products-cart .prod-item .text-item p {
    font-size: 13px;
    color: var(--textColor);
}
.products-cart .prod-item .text-item h2 {
    font-size: 20px;
    font-weight: 700;
    color: var(--whiteColor);
}
.products-cart .prod-item .text-item .price {
    font-size: 15px;
    font-weight: 600;
    color: var(--greenColor);
}
.footer-canva {
    padding: 20px;
    border-top: 1px solid var(--grisMedio);
}
.footer-canva .price-total {
    width: 100%;
    padding: 15px;
    font-size: 20px;
    border: 2px solid var(--mainColor);
    color: var(--whiteColor);
    display: flex;
    align-items: center;
    border-radius: 10px;
}
.footer-canva .price-total span {
    margin-left: auto;
    font-weight: 700;
}

/* ----Modal-combo------ */
.modal-combo {
    max-width: 85%;
}
.content-combo {
    background-color: var(--mainColor);
    border-radius: 20px;
}
.body-combo {
    width: 100%;
    height: 550px;
    display: flex;
    padding: 10px;
    border-radius: 20px;
}
.body-combo .btn-close {
    right: 0px;
    top: 0px;
    position: absolute;
    background-color: var(--mainColor);
    opacity: 1;
    z-index: 99;
    padding: 10px;
    border-radius: 50%;
}
.body-combo .the-combo {
    display: flex;
    position: relative;
}
    .the-combo img {
        width: 100%;
        object-fit: cover;
        position: relative;
        border-radius: 10px;
    }
    .the-combo .abs-combo {
        width: 100%;
        height: 100%;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .the-combo .abs-combo .logo-shop {
        width: 100px;
        position: absolute;
        margin: auto;
        top: 30px;
    }
    .the-combo .abs-combo .drop-fme {  
        position: absolute;  
        display: flex;   
    }
    .the-combo .abs-combo .drop-fme .btn-fme {
        width: 80px;
        height: 80px;
        background-color: #000000a9;
        color: var(--whiteColor);
        font-size: 13px;
        font-weight: 700; 
        border-radius: 50%;
        display: flex;
        justify-content: center;
        text-align: center;
        align-items: center;
        border: 2px solid var(--mainColor);
        transition: all 0.3s ease-in-out;
    }
    .the-combo .abs-combo .drop-fme .btn-fme:hover {
        background-color: var(--mainColor);
        color: var(--blackColor);
    }
    .the-combo .abs-combo .drop-01 {
        left: 80px;
    }
    .the-combo .abs-combo .drop-02 {
        left: 280px;
        margin-top: 210px;
    }
    .the-combo .abs-combo .drop-03 {
        left: 450px;
        margin-top: -50px;
    }
    .the-combo .abs-combo .drop-04 {
        left: 620px;
        margin-top:  200px;
    }
    .the-combo .abs-combo .drop-05 {
        left: 790px;
        margin-top:  20px;
    }
    .the-combo .abs-combo .drop-06 {
        left: 990px;
        margin-top:  150px;
    }
    .the-combo .abs-combo .drop-fme .item-bio {
        width: 300px;
        padding: 15px;
        border-radius: 15px;
        background-color: var(--mainColor);
        color: var(--blackColor);
        font-size: 15px;
    }
    .the-combo .abs-combo .drop-fme .item-bio p {
        margin-bottom: 10px;
    }
    .the-combo .abs-combo .drop-fme .item-bio p i {
        font-size: 30px;
        padding: 10px;
    }

/* -----Modal-stre----- */
.stre-modal {
    max-width: 95%;
}
.content-stre {
    background-color: var(--grisOscuro);
}
.head-stre {
    border-bottom: 0;
}
.head-stre .title-stre {
    font-size: 25px;
    font-weight: 700;
    color: var(--whiteColor);
}
.head-stre .title-stre img {
    width: 40px;
    margin-right: 10px;
}
.head-stre .btn-close {
    background-color: var(--mainColor);
    border-radius: 50%;
    opacity: 1;
}
.body-stre {
    width: 100%;
}
.row-stre {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 30px;
}
.row-stre .card-stre {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.row-stre .card-stre:hover .img-stre .icon-play {
    opacity: 1;
}
.row-stre .card-stre:hover .img-stre .back-video {
    transform: scale(1.1);
}
    .card-stre .img-stre {
        height: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        position: relative;
    }
    .card-stre .img-stre .back-video {
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: relative;
        transition: all 0.3s ease-in-out;
    }
    .card-stre .img-stre .icon-play {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        background-color: var(--mainColor);
        color: var(--blackColor);
        font-size: 20px;
        opacity: 0;
        transition: all 0.3s ease-in-out;
    }
    .card-stre .img-stre .icon-play:hover {
        background-color: var(--whiteColor);
        font-size: 25px;
    }
    .card-stre .text-stre {
        background-color: var(--darkColor);
        padding: 20px;
    }
    .card-stre .text-stre h3 {
        font-size: 15px;
        font-weight: 700;
        color: var(--whiteColor);
        margin-bottom: 10px;
    }
    .card-stre .text-stre p {
        font-size: 12px;
        color: var(--textColor);
    }

/* --------Footer----- */
.footer {
    width: 100%;
    background-color: var(--darkColor);
}
.footer .content-footer {
    width: 100%;
    max-width: 1400px;
    margin: auto;
    display: grid;
    grid-template-columns: 0.8fr 1fr 1fr 1fr 1fr 1fr;
    gap: 30px;
    padding: 50px 20px;
}
    .col-footer {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .col-footer .logo-footer img {
        width: 130px;
        margin-bottom: 10px;
    }
    .col-footer p {
        font-size: 14px;
        color: var(--textColor);
        margin-bottom: 20px;
    }
    .col-footer .social-footer {
        display: flex;
        align-items: center;
        gap: 10px;
    }
    .col-footer .social-footer .icon-social {
        font-size: 20px;
        color: var(--whiteColor);
        transition: all 0.3s ease-in-out;
    }
    .col-footer .social-footer .icon-social:hover {
        color: var(--mainColor);
    }
    .col-footer .title-footer {
        font-size: 20px;
        font-weight: 700;
        color: var(--whiteColor);
        margin-bottom: 15px;
    }
    .col-footer .link-footer {
        font-size: 14px;
        color: var(--textColor);
        margin-bottom: 10px;
        transition: all 0.3s ease-in-out;
    }
    .col-footer .link-footer:hover {
        color: var(--mainColor);
    }
    .col-footer .row-pay {
        width: 100%;
        display: flex;
        align-items: center;
        gap: 10px;
        margin-bottom: 20px;
    }
    .col-footer .row-pay .icon-pay {
        font-size: 20px;
        color: var(--whiteColor);
    }
.footer .copy {
    width: 100%;
    max-width: 1400px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 0;
} 
    .copy p {
        font-size: 13px;
        color: var(--textColor);
    }
    .copy .right-copy {
        display: flex;
        align-items: center;
        gap: 10px;
    }
    .copy .right-copy .link-copy {
        font-size: 13px;
        color: var(--textColor);
        text-decoration: underline;
    }
    .copy .right-copy .link-copy:hover {
        color: var(--mainColor);
    }

/* ----Modal-beneficios------ */
.modal-ben {
    max-width: 60%;
}
.contenido-ben {
    background-color: transparent;
}
.contenido-ben .modal-header {
    border-bottom: 0px;
}
.contenido-ben .modal-header .btn-close {
    background-color: var(--mainColor);
    border-radius: 50%;
    opacity: 1;
}
.body-ben {
    width: 100%;
}
.img-contrat {
    width: 100%;
    display: flex;
    position: relative;
}
.img-contrat img {
    width: 100%;
    position: relative;
}
.img-contrat .abs-ben {
    width: 100%;
    max-width: 510px;
    position: absolute;
    display: flex;
    flex-direction: column;
    padding: 50px;
}
.img-contrat .abs-ben .head-ben {
    margin-bottom: 20px;
}
.img-contrat .abs-ben .head-ben h2 {
    font-size: 25px;
    font-weight: 700;
    color: var(--blackColor);
}
.img-contrat .abs-ben .head-ben h2 img {
    width: 50px;
    margin-right: 10px;
}
.img-contrat .list-ben {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 40px;
}
.img-contrat .list-ben p {
    padding-bottom: 10px;
    border-bottom: 1px dashed #eee;
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 17px;
    font-weight: 600;
}
.img-contrat .list-ben p .number-item {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: var(--mainColor);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    font-weight: 700;
}
.img-contrat .bot-ben {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
}
.img-contrat .bot-ben .left-ben .price-ben {
    font-size: 30px;
    font-weight: 700;
    color: var(--greenColor);
}
.img-contrat .bot-ben .right-ben .btn-ben {
    font-size: 18px;
    font-weight: 600;
    background-color: var(--mainColor);
    color: var(--blackColor);
    border-radius: 50px;
    padding: 5px 15px;
    transition: all 0.3s ease-in-out;
}
.img-contrat .bot-ben .right-ben .btn-ben:hover {
    background-color: var(--grisMedio);
    color: var(--whiteColor);
}
.img-contrat .slog-ben h3 {
    font-size: 30px;
    font-weight: 700;
    color: var(--blackColor);
}

/* -----Form-login-register------ */
.log {
    width: 100%;
}
.log .content-log {
    width: 100%;
    min-height: 100vh;
}
.content-log .row-log {
    width: 100%;
    display: grid;
    grid-template-columns: 1.2fr 1fr;
}
.row-log .item-log {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-items: center;
}
    .row-log .item-log .img-log {
        width: 100%;
        min-height: 100vh;
        display: flex;
        align-items: flex-end;
        position: relative;
    }
    .row-log .item-log .img-log img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: flex;
        position: relative;
    }
    .row-log .item-log .img-log .social-log {
        position: absolute;
        margin-left: 50px;
        margin-bottom: 50px;
        display: flex;
        align-items: center;
        gap: 20px;
    }
    .row-log .item-log .img-log .social-log .item-social {
        display: flex;
        align-items: center;
        border-radius: 15px;
        overflow: hidden;
        background-color: var(--whiteColor);
        color: var(--blackColor);
        transition: all 0.3s ease-in-out;
    }
    .row-log .item-log .img-log .social-log .item-social:hover {
        background-color: var(--blackColor);
        color: var(--whiteColor);
    }
    .row-log .item-log .img-log .social-log .item-social i {
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--blackColor);
        color: var(--whiteColor);
    }
    .row-log .item-log .img-log .social-log .item-social span {
        height: 40px;
        font-size: 17px;
        font-weight: 700;
        padding: 0px 10px;
        display: flex;
        align-items: center;
    }
    .item-log .form-log {
        width: 100%;
        max-width: 50%;
        margin: auto;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    .item-log .form-log .title-form {
        font-size: 30px;
        font-weight: 700;
        color: var(--whiteColor);
    }
    .item-log .form-log p {
        font-size: 15px;
        color: var(--whiteColor);
    }
    .item-log .form-log .item-form {
        width: 100%;
    }
    .item-log .form-log .item-form input[type="text"],
    .item-log .form-log .item-form input[type="email"],
    .item-log .form-log .item-form input[type="password"] {
        width: 100%;
        font-size: 15px;
        padding: 7px 15px;
        border-radius: 10px;
        border: none;
        background-color: var(--grisOscuro);
        color: var(--whiteColor);
    }
    .item-log .form-log .bot-form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
    .item-log .form-log .bot-form .btn-form {
        font-size: 15px;
        font-weight: 700;
        padding: 7px 10px;
        border-radius: 15px;
        background-color: #a25d92;
        color: var(--whiteColor);
        border: none;
        margin-bottom: 10px;
        transition: all 0.3s ease-in-out;
    }
    .item-log .form-log .bot-form .btn-form:hover {
        background-color: var(--whiteColor);
        color: var(--blackColor);
    }
    .item-log .form-log .bot-form .link-in {
        font-size: 14px;
        color: var(--whiteColor);
        text-decoration: underline;
    }
    .item-log .form-log .bot-form .link-in:hover {
        color: var(--secundaryColor);
    }
