@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sedgwick+Ave+Display&display=swap');

:root {
    --mainColor: #f2bb2a;
    --secundaryColor: #6e6f6d;
    --blackColor: #000;
    --whiteColor: #fff;
    --redColor: #B01F28;
    --greenColor: #077023;
    --textColor: #696969;
    --darkColor: #0c0c0c;
    --grisClaro: #f5f5f5;
    --grisOscuro: #1b1b1b;
    --grisMedio: #333;
    --fontUrban: 'Sedgwick Ave Display', cursive;; 
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Raleway', sans-serif;
}
body p, h1, h2, h3, h4, h5, h6 {
    margin-bottom: 0;
}
body button, input, textarea {
    box-shadow: none;
    outline: none!important;
}
body a {
    text-decoration: none
}

/* ------Header------ */
.header {
    width: 100%;
    background-color: var(--blackColor);
    position: fixed;
    top: 0;
    z-index: 99;
    border-top: 3px solid var(--redColor);
}
.header .content-header {
    width: 100%;
    max-width: 1500px;
    margin: auto;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.content-header .left-header {
    display: flex;
    gap: 20px;
}
    .left-header .logo-header {
        display: flex;
        align-items: center;
    }
    .left-header .logo-header .logo-fme img {
        width: 100px;
    }
    .left-header .prod-header {
        display: flex;
        align-items: center;
        background-color: var(--grisOscuro);
        border-radius: 15px;
        margin-left: 100px;
    }
    .left-header .prod-header .link-tab {
        font-size: 13px;
        font-weight: 600;
        padding: 10px 10px;
        display: flex;
        align-items: center;
        gap: 10px;
        color: var(--textColor);
        border-radius: 15px;
        transition: all 0.3s ease-in-out;
    }
    .left-header .prod-header .link-tab:hover {
        background-color: var(--grisMedio);
    }
    .left-header .prod-header .link-tab-active {
        background-color: var(--secundaryColor);
        color: var(--whiteColor);
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }
    .left-header .prod-header .link-tab img {
        width: 15px;
    }
    .left-header .search-header {
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }
    .left-header .search-header input[type="search"] {
        width: 300px;
        position: relative;
        font-size: 13px;
        padding: 10px 35px 10px 15px;
        border-radius: 20px;
        border: none;
        background-color: var(--grisOscuro);
        color: var(--whiteColor);
    }
    .left-header .search-header i {
        position: absolute;
        margin-right: 15px;
        font-size: 15px;
        color: var(--textColor);
    }
.content-header .right-header {
    display: flex;
    align-items: center;
    gap: 15px;
}
    .right-header .alert-not {
        display: flex;
    }
    .right-header .alert-not .notification {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--grisOscuro);
        color: var(--mainColor);
    }
    .alert-not .drop-menu {
        background-color: var(--grisMedio);
        border-radius: 10px;
        padding: 10px;
    }
    .alert-not .drop-menu .item-not {
        display: flex;
        align-items: center;
        gap: 20px;
        border-radius: 10px;
        padding: 10px;
        border: 2px solid var(--mainColor);
        margin-bottom: 10px;
    }
    .alert-not .drop-menu .item-not:hover {
        background-color: var(--grisOscuro);
    }
    .alert-not .drop-menu .item-not img {
        width: 50px;
    }
    .alert-not .drop-menu .item-not .title-not {
        font-size: 15px;
        font-weight: 600;
        color: var(--whiteColor);
    }
    .alert-not .drop-menu .item-not .title-not span {
        font-size: 13px;
        font-weight: 400;
        color: #acacac;
    }
    .right-header .drop-profile .btn-drop {
        display: flex;
        align-items: center;
        gap: 10px;
        color: var(--whiteColor);
        font-size: 15px;
        font-weight: 600;
    }
    .right-header .drop-profile .btn-drop img {
        width: 30px;
        height: 30px;
        object-fit: cover;
        border-radius: 50%;
    }
    .right-header .drop-profile .drop-pro {
        background-color: var(--grisMedio);
        padding: 0;
        overflow: hidden;
    }
    .right-header .drop-profile .drop-pro .drop-item {
        font-size: 15px;
        font-weight: 600;
        padding: 5px 15px;
        color: var(--whiteColor);
        transition: all 0.3s ease-in-out;
    }
    .right-header .drop-profile .drop-pro .drop-item i {
        margin-right: 10px;
    }
    .right-header .drop-profile .drop-pro .drop-item:hover {
        background-color: var(--mainColor);
        color: var(--blackColor);
    }
    .right-header .canvas {
        display: flex;
    }
    .right-header .canvas .menu-mob {
        font-size: 20px;
        color: var(--whiteColor);
    }

/* ------Cover----- */
.back-cover {
    width: 100%;
    background-image: url(../img/grafitti.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.cover {
    width: 100%;
    background-color: #000000e7;
    margin-top: 70px;
}
.cover .content-cover {
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.content-cover .sidebar-left {
    background-color: var(--grisOscuro);
}
.sidebar-left .content-sidebar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:25px 15px;
    position: sticky;
    top: 70px;
}  
    .content-sidebar .top-sid {
        text-align: center;
        margin-bottom: 50px;
    }
    .content-sidebar .top-sid .fav {
        font-size: 30px;
        color: var(--whiteColor);
        display: flex;
        align-items: flex-start;
        justify-content: flex-end;
    }
    .content-sidebar .top-sid .fav .badge {
        background-color: var(--mainColor);
        font-size: 12px;
        margin-left: -5px;
        margin-top: -10px;
        border-radius: 50%;
    }
    .content-sidebar .navigator {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 20px;
    }
    .content-sidebar .navigator .link-navi {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        gap: 10px;
        font-size: 12px;
        color: var(--textColor);
        padding-top: 20px;
        border-top: 1px solid var(--secundaryColor);
    }
    .content-sidebar .navigator .link-navi i {
        font-size: 20px;
        color: var(--whiteColor);
    }
.content-cover .content-body {
    width: 100%;
    max-width: 900px;
    display: flex;
    flex-direction: column;
    padding: 50px;
}
.content-body .top-body {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}
    .top-body .text-top {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 15px;
    }
    .top-body .text-top .title-top {
        font-size: 45px;
        font-weight: 700;
        color: var(--whiteColor);
    }
    .top-body .text-top p {
        font-size: 20px;
        color: var(--textColor);
    }
    .top-body .text-top .btn-fme {
        font-size: 20px;
        font-weight: 700;
        color: var(--blackColor);
        background-color: var(--mainColor);
        border-radius: 20px;
        padding: 10px 30px;
        display: flex;
        align-items: center;
        gap: 10px;
    }
.content-body .row-box {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    margin-bottom: 40px;
}
    .content-body .row-box-2 {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    .row-box .item-box {
        display: flex;
        justify-content: space-between;
        border-radius: 20px;
        background-color: var(--grisOscuro);
    }
    .row-box .item-box-min {
        display: flex;
        justify-content: flex-start;
        gap: 0px;
    }
    .row-box .item-box .text-box {
        width: 100%;
        max-width: 300px;
        padding: 20px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .row-box .item-box .text-box-min {
        padding-left: 0;
        gap: 10px;
    }
    .row-box .item-box .text-box .title-box {
        font-size: 20px;
        font-weight: 700;
        color: var(--whiteColor);
        margin-bottom: 10px;
    }
    .row-box .item-box .text-box .title-box-min {
        font-size: 14px;
        margin-bottom: 0px;
    }
    .row-box .item-box .text-box p {
        font-size: 15px;
        color: var(--whiteColor);
    }
    .row-box .item-box .text-box .btn-prod {
        margin-top: auto;
        font-size: 13px;
        font-weight: 700;
        background-color: var(--mainColor);
        color: var(--blackColor);
        padding: 5px 20px;
        border-radius: 20px;
        transition: all 0.3s ease-in-out; 
    }
    .row-box .item-box .text-box .menor {
        font-size: 12px;
    }
    .row-box .item-box .text-box .btn-prod:hover {
        background-color: var(--grisMedio);
        color: var(--whiteColor);
    }
    .row-box .item-box .img-box img  {
        width: 200px;
        margin-top: -20px;
        margin-bottom: -20px;
    }
    .row-box .item-box .img-box img  {
        width: 200px;
        margin-top: -20px;
        margin-bottom: -20px;
    }
    .row-box .item-box .img-box .prendas {
        width: 60px;
        margin: 20px;
    }
.content-body .carousel-prod {
    width: 100%;
}
.content-body .carousel-prod .title-carousel {
    font-size: 20px;
    font-weight: 700;
    color: var(--whiteColor);
}
.content-body .carousel-prod .title-carousel img {
    width: 30px;
    margin-right: 10px;
}
.owl-prod .card-prod {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-radius: 10px;
    background-color: var(--grisOscuro);
    gap: 15px;
    margin: 30px 0px;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}
.owl-prod .card-prod:hover {
    transform: scale(1.05);
    z-index: 99;
    background-color: var(--grisMedio);
}
.owl-prod .card-prod:hover .text-card .link-card {
    color: var(--whiteColor);
}
.owl-prod .card-prod-yellow {
    background-color: var(--mainColor);
}
    .card-prod .img-card {
        width: 100%;
        height: 150px;
        display: flex;
        position: relative;
        overflow: hidden;
        border-radius: 7px;
    }
    .card-prod .img-card img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: relative;
    }
    .card-prod .img-card .dcto {
        width: 30px;
        position: absolute;
    }
    .card-prod .text-card {
        width: 100%;
        display: flex;
        align-items: flex-start;
    }
    .card-prod .text-card .link-card {
        display: flex;
        align-items: center;
        gap: 10px;
        font-size: 15px;
        font-weight: 600;
        color: var(--whiteColor);
        transition: all 0.3s ease-in-out;
    }
    .card-prod .text-card .link-black {
        color: var(--blackColor);
    }
.content-cover .sidebar-right {
    padding: 20px 20px 20px 0px;
}
    .sidebar-right .content-right {
        padding: 20px;
        background-color: var(--darkColor);
        display: flex;
        flex-direction: column;
        gap: 10px;
        border-radius: 20px;
        position: sticky;
        top: 90px;
    }
    .content-right .head-right {
        width: 100%;
        margin-bottom: 40px;
    }
    .content-right .head-right h2 {
        font-size: 25px;
        font-weight: 700;
        color: var(--whiteColor);
        display: flex;
        align-items: center;
        gap: 15px;
    }
    .content-right .head-right h2 img {
        width: 35px;
    }
    .content-right .scroll-events {
        width: 100%;
        height: 380px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        overflow-y: scroll;
        padding-right: 10px;
    }
    .content-right .scroll-events::-webkit-scrollbar {
        width: 7px;
        height: 100%;
        background-color: var(--blackColor);
        border-radius: 15px;
        padding: 2px;
    }
    .content-right .scroll-events::-webkit-scrollbar-thumb {
        width: 5px;
        background-color: #fff;
        border-radius: 10px;
    }
    .scroll-events .item-right {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
        background-color: var(--grisOscuro);
        padding: 10px;
        border-radius: 10px;
        transition: all 0.3s ease-in-out;
        margin-right: 10px;
    }
    .scroll-events .item-right:hover {
        background-color: var(--grisMedio);
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }
    .scroll-events .item-major {
        background-color: var(--mainColor);
    }
        .item-right .img-item {
            width: 65px;
            height: 65px;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #000;
            padding: 10px;
        }
        .item-right .img-sale {
            background-color: var(--greenColor);
        }
        .item-right .img-item img {
            width: 100%;
        }
        .item-right .text-item {
            width: 100%;
            max-width: 65%;
            display: flex;
            flex-direction: column;
            gap: 10px;
        }
        .item-right .text-item .title-major {
            color: var(--blackColor);
        }
        .item-right .text-item h3 {
            font-size: 15px;
            font-weight: 700;
            color: var(--whiteColor);
        }
        .item-right .text-item .p-major {
            color: var(--blackColor);
        }
        .item-right .text-item p {
            font-size: 13px;
            color: var(--textColor);
        }
/* ------Offcanvas-bottom----- */
.offcanvas.offcanvas-bottom {
    height: auto;
}
.offcanvas-prod {
    background-color: var(--blackColor);
}
.head-dcto {
    display: flex;
    justify-content: center;
}
.head-dcto .btn-close {
    background-color: var(--mainColor);
    border-radius: 50%;
    opacity: 1;
    margin-top: -30px;
}
.body-dcto {
    width: 100%;
    max-width: 90%;
    margin: auto;
    display: flex;
    align-items: center;
    border-radius: 20px;
    overflow: hidden;
    border: 4px solid var(--mainColor);
    padding: 0;
    margin-bottom: 20px;
}
.body-dcto .img-dcto {
    display: flex;
}
.body-dcto .img-dcto img {
    width: 370px;
    height: 370px;
    object-fit: cover;
}
.body-dcto .text-dcto {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    padding: 50px;
}
.body-dcto .text-dcto h2 {
    font-size: 40px;
    font-weight: 700;
    color: var(--whiteColor);
}
.body-dcto .text-dcto h3 {
    font-size: 20px;
    font-weight: 700;
    color: var(--whiteColor);
}
.body-dcto .text-dcto h3 span {
    font-size: 15px;
    color: var(--textColor);
    text-decoration: line-through;
}
.body-dcto .text-dcto h4 {
    font-size: 30px;
    font-weight: 700;
    color: var(--whiteColor);
}
.body-dcto .text-dcto h4 span {
    color: var(--greenColor);
}
.body-dcto .text-dcto h5 {
    font-size: 20px;
    font-weight: 700;
    color: var(--whiteColor);
}
.body-dcto .text-dcto p {
    font-size: 15px;
    color: var(--whiteColor);
}
.body-dcto .text-dcto .btn-shop {
    font-size: 15px;
    font-weight: 700;
    background-color: var(--mainColor);
    color: var(--blackColor);
    padding: 10px 30px;
    border-radius: 50px;
    transition: all 0.3s ease-in-out;
}
.body-dcto .text-dcto .btn-shop:hover {
    background-color: var(--grisMedio);
    color: var(--whiteColor);
}